.nav-container {
    background-color: rgb(18, 18, 222);
    padding: 2rem;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.a-nav {
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
}   

.logo {
    width: 60px;
    height: 60px;
    margin-left: 4px;
}